<div class="container">
    <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
        <div class="form-control">
            <input type="text" name="emailid" placeholder="email" ngModel class="form-control">
        </div>

        <div class="form-control">
            <input type="password" name="password" placeholder="password" ngModel class="form-control">

            <div class="form-control">
                <input type="submit" value="submit" class="btn btn-primary">
            </div>
    </form>
</div>