<div class="container">
    <div class="jumbotron mt-2">
        <h1 class="display-4">
            <!-- Title goes here -->
        </h1>
        <p class="lead">
            <!-- Lead goes here -->
        </p>
        <hr class="my-4">
        <p>We make it easier than ever to order gourmet food from your favorite local restaurants...</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/restaurants" role="button">Choose Restaurant.</a>
        </p>
    </div>
</div>
<router-outlet></router-outlet>